/*This will contain all out content formatting that bootstrap does not provide*/
div.one_liner{
    position: absolute;
    top: 80px;
    right: 50%;
    width: 200px;
    height: 100px;
    text-align: center;
    border: 3px solid #73AD21;
}